.filter-sidebar {
  padding: 16px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 12px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(0, 64, 128);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.search-bar {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-bar button {
  background-color: rgb(0, 64, 128);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.animal-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.animal-card {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-card img {
  width: 100%;
  max-width: 240px;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: #f8f8f8;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.animal-info {
  text-align: center;
  margin-top: 12px;
}

.animal-type {
  font-weight: 600;
  font-size: 1rem;
}

.animal-breed-age {
  font-size: 0.875rem;
  color: #4a4a4a;
}

.animal-price {
  font-weight: bold;
  color: red;
  font-size: 0.95rem;
  margin-top: 6px;
}

.view-details {
  margin-top: 12px;
  padding: 10px 30px;
  background-color: rgb(0, 64, 128);
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.info-cards {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.info-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  width: 380px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 40px;
}

.info-card h4 {
  font-size: medium;
  color: #2a9d8f;
  margin-bottom: 0.75rem;
}

.info-card p {
  font-size: 1rem;
  color: rgb(0, 64, 128);
  margin: 0;
}

.info-card:hover {
  transform: translateY(-5px);
}
